@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(0.9702 0 0);
  --foreground: oklch(0.3144 0.0077 240.0827);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3144 0.0077 240.0827);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3144 0.0077 240.0827);
  --primary: oklch(0.5806 0.2223 27.8096);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5422 0.0087 241.7749);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9401 0 0);
  --muted-foreground: oklch(0.5422 0.0087 241.7749);
  --accent: oklch(0.9551 0 0);
  --accent-foreground: oklch(0.3144 0.0077 240.0827);
  --destructive: oklch(0.5308 0.2178 29.2339);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9067 0 0);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.5806 0.2223 27.8096);
  --chart-1: oklch(0.5806 0.2223 27.8096);
  --chart-2: oklch(0.8883 0.1697 95.2620);
  --chart-3: oklch(0.4624 0.0554 245.5392);
  --chart-4: oklch(0.7155 0 0);
  --chart-5: oklch(0.3144 0.0077 240.0827);
  --sidebar: oklch(0.9702 0 0);
  --sidebar-foreground: oklch(0.3144 0.0077 240.0827);
  --sidebar-primary: oklch(0.5806 0.2223 27.8096);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9551 0 0);
  --sidebar-accent-foreground: oklch(0.3144 0.0077 240.0827);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.5806 0.2223 27.8096);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Georgia', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.25rem;
  --shadow-x: 0;
  --shadow-y: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: transparent;
  --shadow-2xs: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2547 0.0087 255.5868);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.2908 0.0093 248.1461);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.2908 0.0093 248.1461);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.5806 0.2223 27.8096);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6503 0.0114 248.0023);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.2993 0.0107 254.0004);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.3235 0.0120 258.3699);
  --accent-foreground: oklch(0.9067 0 0);
  --destructive: oklch(0.5308 0.2178 29.2339);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3767 0.0122 252.9523);
  --input: oklch(0.2908 0.0093 248.1461);
  --ring: oklch(0.5806 0.2223 27.8096);
  --chart-1: oklch(0.5806 0.2223 27.8096);
  --chart-2: oklch(0.8883 0.1697 95.2620);
  --chart-3: oklch(0.5687 0.0576 244.6559);
  --chart-4: oklch(0.7155 0 0);
  --chart-5: oklch(0.9067 0 0);
  --sidebar: oklch(0.2547 0.0087 255.5868);
  --sidebar-foreground: oklch(0.9067 0 0);
  --sidebar-primary: oklch(0.5806 0.2223 27.8096);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3235 0.0120 258.3699);
  --sidebar-accent-foreground: oklch(0.9067 0 0);
  --sidebar-border: oklch(0.3767 0.0122 252.9523);
  --sidebar-ring: oklch(0.5806 0.2223 27.8096);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Georgia', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.25rem;
  --shadow-x: 0;
  --shadow-y: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: transparent;
  --shadow-2xs: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0% 0% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
